<script src="https://unpkg.com/vue"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style scoped>
	body {
		font-size: 10px;
		background: #EEE;
		font-family: 'Roboto', sans-serif;
		width: 100vw;
		height: 100vh;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

	.sidebar {
		min-width: 4em;
		width: 20%;
		max-width: 20em;
		background: black;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
	}

	.sidebar a {
		color: white;
		text-align: center;
		padding: 2em;
		background: #111;
		text-decoration: none;
	}

	.sidebar a:hover {
		background: #222;
	}

	span {
		width: 100%;
		background: black;
		height: 100%;
		font-size: 20em;
		color: white;
		text-align: center;
	}


	main {
		display: flex;
		width: 100vw;
		height: 100vh;
	}
	input {
		width: 100%;
		position: fixed;
	}
	.fence{
		width: 100%;
		background: white;
		position: absolute;
		margin-top: 340px;
		height: calc(100% - 340px);
		font-size: 200px;
	}
</style>
<!-- Create an instance of the todo-item component -->
<main>
	<span	v-for="(item, index) in letters" 
		v-bind:item="item"
		v-bind:key="item"
		v-bind:style="{background: color(item.charCodeAt(0) * 10 * index+1)}">{{ item }} </span>
	<input class="fence"v-model="input" type='text'>
	<!-- <span class="fence"></span> -->
</main>



<script>
	function randomColor() {
		return `hsla(${rand(360)},100%, 50%, 1)`
	}

	function rand(value = 100) {
		return Math.ceil(Math.random() * value)
	}

	let dashboard = new Vue({
		el: 'main',
		data: {
			input: '',
			letters: "Dejers"
		},
		methods: {
			color: function (n) {
				return `hsla(${n || rand(360)},100%, 50%, 1)`
			}
		},
		watch: {
			input: function (string){
				this.letters = string
			}
		}
	})

	// setInterval(_ => randomizeColor(dashboard.letters), 1000)
</script>